:root {
    --primary: #FFB600;
    --seconary: #000000;
    --light: #fff
}

.d-none{
    display: none !important;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat';
}

p, span{
    font-size: 1.6rem;
    font-weight: 500;

}

.text-center{
    text-align: center;
}

#input-location{
    background: url("images/location-dot-solid.svg") no-repeat scroll 2px 2px;
    background-size: 15px;
    background-position: 5px;
    padding-left: 25px !important;
}

#input-subscribe{
    background: url("images/envelope-regular-24.png") no-repeat scroll 2px 2px;
    background-size: 15px;
    background-position: 5px;
    padding-left: 25px !important;
}
button {
    padding: 1rem 3rem;
    cursor: pointer; 
    font-weight: 800;         
}

.btn-primary{
    background-color: #000000;
    color: var(--light);
    border: none;
}

.btn-secondary {
    background-color: #FFB600;
    padding: 15px 40px;   
    border: none;
    color: var(--seconary);
}

.btn-alt{
    border: 1px solid var(--seconary);
    margin: 1rem auto;
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: var(--seconary);
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'gilroy';       */
}

img{
    max-width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col{
    flex-direction: column;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
    color: #000000;
}

nav{
    display: block;
    position: absolute;
    top:6rem;
    width: 100%;
    background-color: var(--primary);
    padding: 2rem 2rem;
}

nav > a {
    padding: 1rem;
    font-size: 2rem;

}

nav > a:hover{
    background-color: var(--light);
}

header a {
    display: block;
  }

  header a.icon {
      font-size: 3rem;
  }

  header .icon-container{
    padding: .3rem 1rem;
    background-color: var(--light);
  }

.flex-between {
    justify-content: space-between;
}

.flex-center{
    justify-content: center;
}

.flex-item-center{
    align-items: center;
}

.flex-col-center{
    align-items: center;
}

header{
    padding: 1rem 0;
    position: relative;
}



#hero-container{
    padding: 2% 4%;
    background-image: url("images/Rectangle\ 38.png");
    background-size: 60% 65%;
    
    background-repeat: no-repeat;
    background-position: top right;
}




#hero{
    margin-top: 2rem;
}

#hero h1{
    font-size: 4rem;
}

#hero p, #hero button{
    margin-top: 2rem;
}

#hero div:last-child{
    transform: translateY(-5rem);
}

main, footer{
    padding: .5rem 2rem ;
    margin-bottom: 3rem;

}

#why-choose{
    margin: 4rem 0;
}

#why-choose h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    
}

form{
    align-content: space-around;
    height: 15rem;


}
#pickup form > div{
    flex-basis: 90%;
}
#pickup{
    background: rgb(255, 255, 255);
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);    
    max-width: 100%;
    margin:auto;
    padding: 3rem 1rem;
}


#pickup input {
    padding: .7rem;
    outline: none;
    border: 1px solid black;
    width: 100%;
    /* height: 50px; */
    border-radius: 1rem;
    /* font-size: 12px; */
} 


.car-container > div {
    border: 1px solid var(--seconary);
    padding: 0 2rem 3rem;
    border-radius: 1rem;   
    margin: 1.5rem auto ;
}

#book-car h2{
    font-size: 2.4rem;
    margin:1rem 0;
}

.car-container h3{
    font-size: 2rem;
    margin:1rem 0;

}

.car-container p > span{
    font-size: 2rem;
}


.m-left{
    margin-left: auto;
}

.circle span{
    margin:1rem 0;

    display: inline-block;
    border-radius: 1rem;
    width: 20px;
    height: 20px;
}

#book-car{
    margin-top: 5rem;
}

.choose-container {
    text-align: center;
    /* padding: 10px 230px; */
    gap: 60px;       
}

.choose-container >div {
     box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
     border-radius: 10px;
     padding: 70px 40px;
}

.newsletter {  
    background: #FFB600;
    padding: 6rem 3rem ;
}

.newsletter h2 {
    font-size: 2rem;
}

.newsletter >div {
    background: var(--light);
    /* margin: 50px 120px; */
    /* border-radius: 10px; */
    max-width: 60rem;

    /* height: 80px; */
    margin: 3rem auto 0;
    text-align: center;
}

.newsletter input {
    border: none;
    outline: none;
    padding: 1rem;
}

footer {    
    /* padding: 10px 100px;    */
    gap: 10%;
}

footer a {
    display: block;   
    line-height: 250%;    
}

footer > div:nth-child(1) {
    flex-basis: 100%;
}

footer > div:nth-child(2) {
    flex-basis: 100%;
    margin-top: 2rem;
}

footer h3{
    font-size: 1.8rem;
}

@media (min-width: 576px){

    #pickup{
        max-width: 50rem;
    }
    
    .choose-container >div {
        max-width: 50rem;
        margin: auto;
        
    }
}

@media (min-width: 768px) {

    .newsletter {  
        background: #FFB600;
        padding: 12rem 3rem ;
    }

    #pickup{
        max-width: 100%;
    }

    form{
        height: 10rem;
        gap: 6rem
    }

    .choose-container >div {
        max-width: 35rem;
        margin: auto;
        
    }


    #hero-container{
        background-position: top right;
        background-size: 50%;
        
    }

.icon-container{
    display: none;
}

nav{
    display: flex;
    gap: 2vw;
    position: static;
    /* top:6rem; */
    width: initial;
    background-color: transparent;
    padding: 1.2rem;
}

header a {
    font-size: 1.8rem;
}

header a {
    display: inline;
  }

  .d-none{
    display: flex !important;
}

#hero{
    flex-wrap: nowrap;
}

#pickup form > div {
    flex-basis: 30%;
}

}

@media (min-width: 992px) { 
    nav{
        display: flex;
        gap: 6vw;
        position: static;
        /* top:6rem; */
        width: initial;
        background-color: transparent;
        padding: 1.2rem;
    }
}


 .bg-red{
    background-color: red;

}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink
}

 .bg-black{
    background-color: black;

}

.bg-orange{
    background-color: orange;
}

.bg-grey{
    background-color: grey;
}

 .bg-yellow{
    background-color: yellow;

}

.bg-light-blue{
    background-color: skyblue;
}

.bg-dark-blue{
    background-color: darkblue
}

/* .fade-in{
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0565, 1.000) both;

}

@keyframes fade-in{
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0);
        opacity: 1;
    }
} */


.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}